@import "./component.scss";

// markdown
section {
  h1, h2, h3, h4 {
    padding-top: 80px;
    margin-top: -50px;
    margin-bottom: 20px;
  }

  h1 {
    font-size: 2rem;
  }

  h3, h4 {
    font-weight: normal;
  }

  code {
    padding: 4px;
    word-wrap: break-word;
    color: #555;
    background: #eee;
    border-radius: 4px;
    font-size: inherit;
    font-family: sans-serif;
  }
}